<div class="ux-metric full-height">
  <div class="ux-metric__title">
    <h3>{{title}}</h3>
  </div>
  <div class="ux-metric__content">
    <p>{{content}}</p>
  </div>
  <div class="ux-metric__keys">
    <div class="ux-metric__key1">
    <p>{{subcontent1}}</p>
    </div>
    <div class="ux-metric__key2">
    <p>{{subcontent2}}</p>
    </div>
    <div class="ux-metric__key3">
    <p>{{subcontent3}}</p>
    </div>
  </div>
</div>


