{% extends "organisms-panel-3col-3-3-3" %}
{% set panel_class = 'design-thinking full-height' %}
{% block col1 %}
  <h3>{{col1.title}}</h3>
  <p>{{col1.content}}</p>
  <a href="#">{{col1.link}}</a>
{% endblock %}
{% block col2 %}
  <h3>{{col2.title}}</h3>
  <p>{{col2.content}}</p>
  <a href="#">{{col2.link}}</a>
{% endblock %}
{% block col3 %}
  <h3>{{col3.title}}</h3>
  <p>{{col3.content}}</p>
  <a href="#">{{col3.link}}</a>
{% endblock %}
