{% extends "organisms-panel-3col-3-3-3" %}
{% set panel_class = 'design-thinking full-height' %}
{% block col1 %}
  <h3>{{col1.title}}</h3>
  <p>{{col1.content}}</p>
  {% include 'atoms-link' with col1.viewLink %}
{% endblock %}
{% block col2 %}
  <h3>{{col2.title}}</h3>
  <p>{{col2.content}}</p>
  {% include 'atoms-link' with col2.check %}
{% endblock %}
{% block col3 %}
  <h3>{{col3.title}}</h3>
  <p>{{col3.content}}</p>
  {% include 'atoms-link' with col3.viewLink %}
{% endblock %}
