<div class="panel-col-2 panel-col-2--3-7 {{panel_class}}">
  <div class="pane-col pane-col1 {{pane_class}} {{pane1_class}}">
    {% block col1 %}
      <h3>Col1</h3>
    {% endblock %}
  </div>
  <div class="pane-col pane-col2 {{pane_class}} {{pane2_class}}">
    {% block col2 %}
      <h3>Col2</h3>
    {% endblock %}
  </div>
</div>
