{% extends "organisms-panel-2col-6-4" %}
{% set panel_class = 'branding full-height' %}
{% block col1 %}
  <h3>{{col1.title}}</h3>
  <h3>{{col1.subtitle}}</h3>
  <h2>{{col1.numbers}}</h2>
{% endblock %}
{% block col2 %}
  <h3>{{col2.title}}</h3>
  <p>{{col2.content}}</p>
{% endblock %}
