{% extends "organisms-panel-2col-5-5" %}
 {% block col1 %}
  <img src="{{dir}}/{{col1.url}}" alt="">
  <h3>{{col1.title}}</h3>
{% endblock %}
{% block col2 %}
  <img src="{{dir}}/{{col2.url}}" alt="">
  <h3>{{col2.title}}</h3>
{% endblock %}


